.navbar{
    padding: 0px 30px 0px 30px;
    background-color: #4db6ac;
}
.navbar nav{
    display: flex;
    justify-content: space-between;
}
.navbar-logo {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'CUDA Regular';
}
.logo-image{
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    background-image: url('/src/assets/logo.png');
}
.logo-text{
    margin-left: 15px;
}
ul{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    padding: 0;
}
.menu-item{
    padding: 20px 30px 20px 30px
}
.menu-item li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navbar-menu li:hover{
    background-color:#26a69a;
}
.navbar-menu a{
    color: white;
    text-decoration: none;
}